@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

body {
    margin: 0;
}

div {
    font-family: 'Montserrat';
}

ul {
    list-style-type: none;
}

.grid-container-1 {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 50px;
}
.grid-item-1 {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.grid-item-2 {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: left;
}

.grid-container-2 {
    padding: 50px;
}

.description-text {
    font-size: 144px;
}

.list-of-description {
    font-size: 72px;
}

.list-of-description-bullet {
    padding: 24px;
}

.grid-container-3 {
    padding: 50px;
    background-color: cadetblue;
}

.my-social-media {
    color:rgba(255, 255, 255, 1);
    padding: 20px;
    font-size: 144px;
}

.social-media {
    text-align: center;
}

.social-media-list {
    display: inline-block;
    padding: 100px;
}