{% extends "base.html" %}
{% load static %}

    {% block title %}
        <title>Fauzan "Corfaitch" Hanandito</title>
        <link rel="stylesheet" href="{% static 'CSS/main.css' %}">
    {% endblock title %}


    {% block content %}
        <div class="grid-container-1">
            <div class="grid-item-1">
                <img src="{% static 'Assets/Dito.jpg' %}" width="600" height="600">
            </div>
            <div class="grid-item-2">
                <ul>
                    <h1>Fauzan Hanandito</h1>
                    <h3>(Also known as Corfaitch)</h3>
                    <h3>Student ID: 1906426815</h3>
                    <h3>Batch: 2019</h3>
                    <h3>Major: computer science</h3>
                    <h2>UI Student, UI/UX enthusiast, humor-covered</h2>
                </ul>
                
            </div>
        </div>
        <div class="grid-container-2">
            <h2 class="description-text">My description</h2>
            <ul class="list-of-description">
                <li class="list-of-description-bullet">Highly self-aware</li>
                <li class="list-of-description-bullet">Creative</li>
                <li class="list-of-description-bullet">Critical</li>
                <li class="list-of-description-bullet">Sometimes love inserting bite-size humor</li>
            </ul>
        </div>
        <div class="grid-container-3">
            <h2 class="my-social-media">My social media</h2>
            <ul class="social-media">
                <li class="social-media-list">
                    <a href="https://www.instagram.com/corfaitch" title="My Instagram"><img src="{% static 'Assets/instagram-512.png' %}" width="300" height="300"></a>
                </li>
                <li class="social-media-list">
                    <a href="https://twitter.com/corfaitch" title="My Twitter"><img src="{% static 'Assets/twitter-512.png' %}" width="300" height="300"></a>
                </li>
                <li class="social-media-list">
                    <a href="https://steamcommunity.com/id/Corfaitch" title="My Steam"><img src="{% static 'Assets/steam-512.png' %}" width="300" height="300"></a>
                </li>
            </ul>
        </div>
    {% endblock content %}
