{% extends "base.html" %}
{% load static %}
    {% block title %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fauzan "Corfaitch" Hanandito</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">   
    <link rel="stylesheet" href="{% static 'CSS/main2.css' %}">
    {% endblock title %}


    {% block content %}
        <div class="container-1">
            <div class="row align-items-center">
                <div class=" m-5 col-sm align-items-center">
                    <img src="{% static 'Assets/dito_profile_round.png' %}" alt="profile graphic" class="img-fluid">
                </div>
                <div class="m-5 col-sm">
                    <h1 class="display-1 my-5"><strong>Fauzan "Corfaitch" Hanandito</strong></h1>
                    <h2 class="display-4">Professionally quirky</h2>
                </div>
            </div>
        </div>
        <div class="container-2">
            <h1 class="text-center text-white p-5 display-3">About me</h1>
            <div class="row p-5">
                <div class="col-sm text-center text-white">
                    <img src="{% static 'Assets/mortarboard_white.png' %}" alt="mortarboard white" width="300" height="300" class="m-5">
                    <p class="text-center">"I'm known as a student of Computer Science at Universitas Indonesia, batch 2019, NPM 1906426815"</p>
                </div>
                <div class="col-sm text-center text-white">
                    <img src="{% static 'Assets/joystick_white.png' %}" alt="joystick white" width="300" height="300" class="m-5">
                    <p class="text-center">"I also want to be a game developer, currently working on a horror game."</p>
                </div>
                <div class="col-sm text-center text-white">
                    <img src="{% static 'Assets/bed_white.png' %}" alt="bed white" width="300" height="300" class="m-5">
                    <p class="text-center">"I only sleep 4 hours a day."</p>
                </div>
            </div>
        </div>
        <div class="container-3">
            <h2 class="text-center text-white p-5 display-3">My social media</h2>
            <div class="row p-5">
                <div class="col-sm text-center text-white">
                    <a href="https://www.instagram.com/corfaitch" title="My Instagram."><img src="{% static 'Assets/instagram_white.png' %}" alt="instagram blue" width="300" height="300" class="m-5"></a>
                    <p class="text-center">Face reveal collection is here.</p>
                </div>
                <div class="col-sm text-center text-white">
                    <a href="https://twitter.com/Corfaitch" title="My Twitter."><img src="{% static 'Assets/twitter_white.png' %}" alt="twitter blue" width="300" height="300" class="m-5"></a>
                    <p class="text-center">I rarely use it.</p>
                </div>
                <div class="col-sm text-center text-white">
                    <a href="https://steamcommunity.com/id/corfaitch" title="My Steam."><img src="{% static 'Assets/steam_white.png' %}" alt="steam blue" width="300" height="300" class="m-5"></a>
                    <p class="text-center">Looking for that lucrative discount from GabeN.</p>
                </div>
            </div>
        </div>
        <div class="container-4 p-5 "> 
            <h2 class="text-center p-5 display-4">More about me here</h2>
            <h3 class="text-center p-5"><a href="{% url 'ppw:story3more' %}" title="My story">Learn more</a></h3>
        </div>
        <div class="container-5">
            <p class="text-center text-white p-5">Icons made by
                <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a>,
                <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>, and
                <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> with some color changes.
                <br/>
                Ⓒ Corfaitch 2021
            </p>
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {% endblock content %}